.header {
  color: #222;
  text-align: center;
  height: auto;
  font-size: 20px;
}

.headerLogo {
  width: 100%;
}

.subTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subTitle>div {
  text-align: center;
  margin: 5px 10px;
}
