.main {
  display: flex;
  flex-direction: row;
  flex: auto;
  border-top: 1px solid black;
}

.leftMenu {
  flex: none;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  .leftMenu {
    display: none;
  } 
}

