.content {
  padding: 0 10px;

  >div {
    display: flex;
    flex-direction: column;

    h1 {
      background-color: #f0bbbb;
      border-radius: 10px;
      padding: 5px;
      align-self: flex-start;
      margin: 20px 0 0px 0;
    }
  
    h2 {
      background-color: #f0dfdf;
      border-radius: 10px;
      padding: 5px 10px;
    }
  }
}

.images {
  text-align: center;
}

.images {
  img {
    height: 200px;
    border: 1px solid #363946;
  }
}

.themes {
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
}