.content {
  padding: 0 10px;
  overflow-y: scroll;
}

.images {
  text-align: center;
}

.images {
  img {
    height: 200px;
    border: 1px solid #363946;
  }
}

.themes {
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-direction: column;
}